<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="stylesheet" href="{{ rootPath }}styles/main.css{{ version }}">
	</head>
	<body>
		<main class="page">
			<section class="apartments">
				<div class="container">
					<h1 class="apartments__title">Номера и цены</h1>
					<ul class="room-card-list">
						<li class="room-card-list__item">
							<div class="booking-modal">
								<a href="#" class="pay-link">Номер зарезервирован<br>
									Перейти к
									<span class="pay-link pay-link--color-text">оплате</span>
								</a>
							</div>
							<img class="room-image" width="500" height="500" src="../images/image-1.webp" alt="Фотография номера отеля">
							<div class="card-top-wrapper">
								<div class="room-text-wrapper">
									<h2 class="room-title">
										<a href="#" class="room-link">Представительский люкс</a>
									</h2>
									<p class="room-sub-title">Эксклюзивный номер с панорамным видом на центр города Москвы</p>
								</div>
								<div class="card-bootom-wrapper">
									<div class="price-wrapper">
										<span class="price-wrapper__per-day">Цена за сутки</span>
										<span class="price-wrapper__start">от</span>
										<h3 class="price-wrapper__number">7 900</h3>
										<span class="price-wrapper__currency">₽</span>
									</div>
									<button class="booking-button" type="button">Забронировать</button>
								</div>
							</div>
						</li>
						<li class="room-card-list__item">
							<div class="booking-modal">
								<a href="#" class="pay-link">Номер зарезервирован<br>
									Перейти к
									<span class="pay-link pay-link--color-text">оплате</span>
								</a>
							</div>
							<span class="discount">Гарантия лучшей цены!</span>
							<img class="room-image" width="500" height="500" src="../images/image-2.webp" alt="Фотография номера отеля">
							<div class="card-top-wrapper">
								<div class="room-text-wrapper">
									<h2 class="room-title">
										<a class="room-link" href="#">
											Дуплекс
										</a>
									</h2>
									<p class="room-sub-title">Просторный двухкомнатный номер с шикарным видом на парк</p>
								</div>
								<div class="card-bootom-wrapper">
									<div class="price-wrapper">
										<span class="price-wrapper__per-day">Цена за сутки</span>
										<span class="price-wrapper__start">от</span>
										<h3 class="price-wrapper__number">5 700</h3>
										<span class="price-wrapper__currency">₽</span>
									</div>
									<button class="booking-button" type="button">Забронировать</button>
								</div>
							</div>
						</li>
						<li class="room-card-list__item">
							<div class="booking-modal">
								<a href="#" class="pay-link">Номер зарезервирован<br>
									Перейти к
									<span class="pay-link pay-link--color-text">оплате</span>
								</a>
							</div>
							<img class="room-image" width="500" height="500" src="../images/image-3.webp" alt="Фотография номера отеля">
							<div class="card-top-wrapper">
								<div class="room-text-wrapper">
									<h2 class="room-title">
										<a href="#" class="room-link">Бизнес-люкс</a>
									</h2>
									<p class="room-sub-title">Трёхкомнатный номер с панорамным видом на Москва-реку</p>
								</div>
								<div class="card-bootom-wrapper">
									<div class="price-wrapper">
										<span class="price-wrapper__per-day">Цена за сутки</span>
										<span class="price-wrapper__start">от</span>
										<h3 class="price-wrapper__number">4 900</h3>
										<span class="price-wrapper__currency">₽</span>
									</div>
									<button class="booking-button" type="button">Забронировать</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</main>
		<script>
			window.appData = {{ appData|json_encode() }};
		</script>
		<script src="{{ rootPath }}scripts/main.js{{ version }}"></script>

		{% if isDev %}
			<script>
				window.pixelperfect = {{ pixelperfect }};
			</script>
			<script src="https://efiand.github.io/pixelperfect-tool/pixelperfect.min.js"></script>
		{% endif %}
	</body>
</html>
